

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(258deg, #0f47c5, #8fabfb);
}

p {
  font-size:15em;
  font-family: sans-serif;
  border: solid;
  border-radius: 88px;
}