

body {
    background: linear-gradient(165deg,#0e51e8,#3d5db9);
    display: flex;
    justify-content: center;
    height: 100vh;
}

p {
  font-size:15em;
  font-family: sans-serif;
  border: solid;
  border-radius: 88px;
}
