

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/4a/96/e6/4a96e602750b8ef669a77565becf3939.gif);
}

p {
  font-size:15em;
  font-family: sans-serif;
  border: solid;
  border-radius: 88px;
  color: white;
}


@media (max-width: 768px) {

  p {
    border: solid;
    border-radius: 88px;
    color: #fff;
    font-family: sans-serif;
    font-size: 71px;
    margin: 250px 0px 2px -17px;
}
  
}